.dateInfo-mobile {
    height: 486px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dateInfo-mobile-header {
    /* background: green; */
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateInfo-mobile-header-div {
    height: 80%;
    width: 90%;
    border-radius: 10px;
    background: #62A3BE;
    border: solid 5px #62A3be;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dateInfo-mobile-header-div > h1 {
    color: white;
    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1900 - 300)));
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.dateInfo-mobile-body {
    /* background: orange; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dateInfo-mobile-body-modal, .dateInfo-modal-button-disabled, #completed-modal-option {
    height: 30%;
    width: 90%;
    /* background: red; */
    border: solid 5px #2c2c2c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #2c2c2c;
    font-size: 30px;
    cursor: pointer;
}

.dateInfo-modal-button-disabled {
    border: solid 5px rgb(201, 201, 201);
    color: #bfbfbf;
    background: rgb(235, 235, 235);
    cursor: default;
}

#completed-modal-option {
    background: #2c2c2c;
    color: white;
}
.dateInfo-modal-div {
    width: 90%;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dateInfo-modal-div-header-spacer {
    height: 100%;
    width: 15%;
    color: white;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1900 - 300)));
    display: flex;;
    justify-content: center;
    padding: 10px;
}

.dateInfo-modal-div-header-title {
    width: 70%;
    height: 100%;
    /* background: green; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1900 - 300)));

}

.dateInfo-modal-div-header {
    height: 50px;
    width: 100%;
    background: #62A3BE;

    display: flex;
}
.dateInfo-modal-div-body {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;;
}
.dateInfo-modal-div-button, .dateInfo-modal-div-button-disabled {
    height: 80px;
    width: 100%;
    background: #62A3BE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(35px + (40 - 35) * ((100vw - 300px) / (1900 - 300)));
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
}

.dateInfo-modal-div-button-disabled {
    border: solid 5px rgb(235, 235, 235);
    color: #bfbfbf;
    background: rgb(235, 235, 235);
    cursor: default;
}

.backdrop-modal{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.dateInfo-modal-time-header {
    height: 20%;
    width: 100%;
    background: #62A3BE;
}

.dateInfo-modal-time-body {
    height: 80%;
    width: 100%;
    background: red;
}

.dateInfo-modal-time-body > div {
    
}


/* React Calendar styling */
@media screen and (max-width: 900px){
    .react-calendar__navigation {
        height: 100px !important;
    }
    .react-calendar__navigation__arrow, .react-calendar__navigation__label {
        height: 80px !important;
        display: flex;
        align-items: center;
    }
    .react-calendar__navigation > .react-calendar__navigation__arrow:enabled {
        width: 15% !important;
        display: flex;
        align-items: center;
    }
    .react-calendar__navigation > .react-calendar__navigation__arrow:enabled, .react-calendar__navigation > .react-calendar__navigation__label {
        background: #62A3BE !important;
        font-size: 60px;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .react-calendar__navigation__label {
        display: flex;
        align-items: center;
    }
    .react-calendar__navigation__label > span {
        font-size: 40px !important;
        width: 100% !important;
    }
    .react-calendar__viewContainer {
        margin-top: 30px !important;
    }

    .react-calendar__month-view > div > div > .react-calendar__month-view__weekdays {
        background: #2c2c2c !important;
        height: 20% !important;
    }
    .react-calendar__month-view > div > div > .react-calendar__month-view__weekdays > div > abbr {
        color: white;
    }
    .react-calendar__month-view > div > div > .react-calendar__month-view__days {
        height: 120% !important;
    }
}