.view1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.view-title {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-title > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(55px + (60 - 55) * ((100vw - 1450px) / (1800 - 1450)));
    font-weight: bold;
    cursor: default;
    color: #192D5A;
    line-height: 1;
    margin: 5px 0;
}
.view-title > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(30px + (35 - 30) * ((100vw - 1450px) / (1800 - 1450)));
    line-height: 1.1;
    text-align: center;
    cursor: default;
    color: #707070;
    width: 90%;
}

.view-content {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.view1-content-body {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view1-section1 {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-between;;
    align-items: center;
}

.view1-section1 > div, .option1-active {
    height: 90%;
    width: 45%;
    border: solid 5px #E16D41;
    background: white;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view1-section1 > div > svg {
    font-size: 120px;
    color: #E16D41;
}

.view1-section1 > div  > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(30px + (35 - 30) * ((100vw - 1450px) / (1800 - 1450)));
    font-weight: bold;
    color: #192D5A;
    line-height: 1;
    margin: 10px 0;
}

.option1-active {
    background: #E16D41 !important;
}
.option1-active > h1, .option1-active > svg {
    color: white !important;
}

.view1-section2 {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view1-section2 > div, .option2-active {
    height: 60%;
    width: 30%;
    background: white;
    border-radius: 1000px;
    cursor: pointer;
    border: solid 5px #192D5A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #192D5A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(18px + (22 - 18) * ((100vw - 1450px) / (1800 - 1450)));
}

.option2-active {
    background: #192D5A !important;
    border: none !important;
    color: white !important;
}


.view1-content-button {
    background: #d8d8d8;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.view1-content-button >button, .modal-button-active {
    width: 100%;
    height: 100%;
    border: none;
    font-weight: bold;
    color : white;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(35px + (40 - 35) * ((100vw - 1450px) / (1800 - 1450)));
}
.view1-content-button > button:focus, .modal-button-active:focus {
    outline: none;
}
.modal-button-active {
    background: linear-gradient(0.25turn, #E16D41, #FFB100) !important;

}


@media screen and (max-width: 900px) {
    .view-title {
        justify-content: center;;
        height: 12%;
    }
    .view-title > h1 {
        text-align: center;
        font-size: calc(28px + (40 - 28) * ((100vw - 300px) / (600 - 300)));
        width: 90%;
    }
    .view-title > h2 {
        text-align: center;
        width: 90%;
        font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (600 - 300)));
    }

    .view-content {
        height: 88%;
    }

    .view1-content-body {
        width: 90%;
        height: 85%;
    }

    .view1-section1, .view1-section2 {
        flex-direction: column;
    }

    .view1-section1 {
        height: 40%;
        margin-bottom: 20px;
    }
    .view1-section1 > div {
        height: 45%;
        width: 100%;
        flex-direction: row;
        border-radius: 15px;
    }
    .view1-section1 > div > svg {
        font-size: calc(50px + (60 - 50) * ((100vw - 300px) / (600 - 300)));
        margin-right: 30px;
    }
    .view1-section1 > div > h1 {
        margin: 0;
        font-size: calc(22px + (25 - 22) * ((100vw - 300px) / (600 - 300)));
    }

    .view1-section2 {
        height: 50%;
    }

    .view1-section2 > div {
        height: 30%;
        width: 100%;
        font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (600 - 300)));
    }

    .view1-content-button {
        height: 15%;
    }
    .view1-content-button > button {
        font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (600 - 300)));
    }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
    .view1-content-body {
        width: 80%;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .view1-content-body {
        width: 70%;
    }
    .view-title > h1 {
        text-align: center;
        font-size: calc(30px + (40 - 30) * ((100vw - 500px) / (700 - 500)));
        width: 90%;
    }
    .view-title > h2 {
        text-align: center;
        width: 90%;
        font-size: calc(20px + (25 - 20) * ((100vw - 500px) / (700 - 500)));
    }

}

@media screen and (max-width: 900px) and (min-width: 701px){
    .view1-section2 {
        flex-direction: row;
        height: 25%;
    }

    .view1-section1 {
        flex-direction: row;
        height: 60%;
    }
    .view1-section1 > div {
        width: 45%;
        height: 100%;
        flex-direction: column;
        border-radius: 30px;
    }
    .view1-section1 > div > svg {
        margin: 0;
        font-size: calc(110px + (120 - 110) * ((100vw - 700px) / (900 - 700)));
    }
    .view1-section1 > div > h1 {
        margin: 10px 0;
        font-size: calc(30px + (35 - 30) * ((100vw - 700px) / (900 - 700)));
    }

    .view1-section2 > div {
        height: 70%;
        width: 30%;
        font-size: calc(18px + (24 - 18) * ((100vw - 700px) / (900 - 700)));
    }

    .view-title > h1 {
        font-size: calc(40px + (45 - 40) * ((100vw - 700px) / (900 - 700)));
    }
    .view-title > h2 {
        font-size: calc(25px + (30 - 25) * ((100vw - 700px) / (900 - 700)));
    }
}


@media screen and (max-width: 1100px) and (min-width: 901px) {
    .view-title > h1 {
        font-size: calc(45px + (50 - 45) * ((100vw - 900px) / (1100 - 901)));
    }
    .view-title > h2 {
        font-size: calc(24px + (30 - 24) * ((100vw - 900px) / (1100 - 901)));
    }
    .view1-section2 > div {
        font-size: calc(18px + (22 - 18) * ((100vw - 900px) / (1100 - 901)));
    }
    .view1-content-button > button {
        font-size: calc(30px + (35 - 30) * ((100vw - 900px) / (1100 - 901)));
        
    }
}

@media screen and (max-width: 1450px) and (min-width: 1101px) {
    .view1-section2 > div {
        font-size: calc(20px + (24 - 20) * ((100vw - 1100px) / (1450 - 1101)));
    }
}

@media screen and (min-width: 2400px) {
    .view1-section1 > div > svg {
        font-size: 170px;
    }
}

