.dateInfo {
    height: 800px;
    width: 55%;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
}

.dateInfo-title {
    height: 150px;
    width: 100%;
    /* background: blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.dateInfo-title > h1 {
    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1900 - 300)));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
}

.dateInfo-title > h2 {
    font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1900 - 300)));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}


.dateInfo-body {
    height: 650px;
    width: 100%;
    background:#f8f8f8;
    border-radius: 10px;
    border: solid 5px #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dateInfo-stepformdots-div {
    /* background: red; */
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dateInfo-stepformdots-body {
    /* background: blue; */
    height: 590px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateInfo-buttons {
    height: 85px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateInfo-buttons-back {
    height: 100%;
    width: 25%;
    border: none;
    cursor: pointer;
    background: #454545;
    color: white;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1900 - 300)));
    font-weight: bold;
}

.dateInfo-buttons-next {
    height: 100%;
    width: 75%;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1900 - 300)));
    background: #62A3BE;
    cursor: pointer;;
}

.dateInfo-mobile {
    display: none;
}


/* Mobile view and small tablet */
@media screen and (max-width: 900px){
    .dateInfo {
        width: 90%;
    }

    .dateInfo-regular {
        display: none;
    }
    .dateInfo-mobile {
        display: block;
    }
}

/* Tablet view */
/* @media screen and (max-width: 900px) and (min-width: 601px){
    .dateInfo {
        width: 90%;
    }
} */

/* Laptop/tablet large view */
@media screen and (min-width: 901px) and (max-width: 1200px){
    .dateInfo {
        width: 80%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px){
    .dateInfo {
        width: 70%;
    }
}

/* 4k view */
@media screen and (min-width: 1800px) {
    .dateInfo {
        width: 65%;
        height:1500px;
    }

    .dateInfo-title {
        height: 300px;
    }

    .dateInfo-title > h1 {
        font-size: calc(60px + (90 - 60) * ((100vw - 300px) / (1900 - 300)));
    }
    .dateInfo-title > h2 {
        font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1900 - 300)));
    }

    .dateInfo-body {
        height: 1200px;
    }

    .dateInfo-stepformdots-div {
        height: 143px;
    }

    .dateInfo-stepformdots-body {
        height: 890px;
    }

    .dateInfo-buttons {
        height: 157px;
    }

    .dateInfo-buttons-back, .dateInfo-buttons-next {
        font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1900 - 300)));

    }
}