.portfolio {
    height: 1200px;
    width:100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.portfolio-header {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(75px + (80 - 75) * ((100vw - 1450px) / (1800 - 1450)));
    font-weight: bold;
    cursor: default;
    color: #192D5A;
    line-height: 1;
    margin: 5px 0;
}

.portfolio-header > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(36px + (42 - 36) * ((100vw - 1450px) / (1800 - 1450)));
    line-height: 1.1;
    text-align: center;
    cursor: default;
    color: #707070;
    width: 90%;
}

.portfolio-body {
    height: 40%;
    width:100%;
}

.ourWork-slider {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ourwork-card {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ow-card {
    height: 90%;
    width: 75%;
    border-radius: 30px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
.ow-card-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ow-card-type {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 25px;
    color: white;
}

.ow-card-button{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ow-card-button > button {
    height: 100%;
    width: 100%;
    border: none;
    background: linear-gradient(0.25turn, #E16D41, #FFBA00);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(25px + (30 - 25) * ((100vw - 1100px) / (1700 -1100)));
    cursor: pointer;
    font-weight: bold;
}
.ow-card-button > button:focus {
    outline: none;
}

.modal-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px){
    .portfolio {
        height: 900px;
    }
    .portfolio-header {
        height: 15%;
    }
    .portfolio-header > h1 {
        margin: 0;
        text-align: center;
        font-size: calc(35px + (45 - 35) * ((100vw - 300px) / (600 - 300)));
    }
    .portfolio-header > h2 {
        text-align: center;
        font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (600 - 300)));
        width: 90%;
    }

    .ourwork-card {
        height: 400px;
    }
    .ow-card {
        width: 90%;
        height: 100%;
    }

    .ow-card-type {
        font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (600 - 300)));
    }

    .ow-card-button > button {
        font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (600 - 300)));
    }

}

@media screen and (max-width: 500px) and (min-width: 460px){
    .ow-card {
        width: 80%;
    }
}
@media screen and (max-width: 700px) and (min-width: 501px) {
    .portfolio-header > h2 {
        width: 75%;
    }
    .portfolio-header {
        margin-bottom: 10px;
    }
    .ow-card {
        width: 75%;
    }
    .ow-card-button {
        height: 70px;
    }
    .ourwork-card {
        height: 450px;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .portfolio {
        height: 1000px;
    }
    .portfolio-header > h1 {
        font-size: calc(45px + (50 - 45) * ((100vw - 700px) / (900 - 700)));
    }
    .portfolio-header > h2 {
        width: 55%;
        font-size: calc(24px + (30 - 24) * ((100vw - 700px) / (900 - 700)));
    }

    .ow-card {
        width: 60%;
    }
    .ourwork-card {
        height: 500px;
    }
}


@media screen and (max-width: 1100px) and (min-width: 901px) {
    .portfolio {
        height: 900px;
    }
    .portfolio-header {
        height: 10%;
    }
    .portfolio-header > h1 {
        font-size: calc(45px + (50 - 45) * ((100vw - 900px) / (1100 - 901)));
    }

    .portfolio-header > h2 {
        font-size: calc(24px + (30 - 24) * ((100vw - 900px) / (1100 - 901)));
    }
    .ourwork-card {
        height: 480px;
    }
    .ow-card {
        width: 80%;
    }
}
 

@media screen and (max-width: 1450px) and (min-width: 1101px){
    .portfolio{
        height: 950px;
    }
    .portfolio-header > h1 {
        margin: 0;
        font-size: calc(55px + (60 - 55) * ((100vw - 1100px) / (1450 - 1101)));
    }

    .portfolio-header > h2 {
        font-size: calc(30px + (35 - 30) * ((100vw - 1100px) / (1450 - 1101)));
    }
    .ourwork-card {
        height: 450px;
    }
    .ow-card {
        width: 85%;
    }
    .ow-card-type {
        font-size: calc(18px + (24 - 18) * ((100vw - 1100px) / (1450 - 1101)));
    }
}


@media screen and (min-width: 1700px) {
    .ow-card-type {
        font-size: calc(30px + (40 - 30) * ((100vw - 1700px) / (3000 - 1701)));
    }
    .ow-card-button {
        height: 80px;
    }
    .ow-card-button > button {
        font-size: calc(32px + (42 - 32) * ((100vw - 1700px) / (3000 - 1701)));
    }
    .ourwork-card {
        height: 550px;
    }
}

@media screen and (min-width: 2200px){
    .portfolio {
        height: 1400px;
    }
    .ourwork-card {
        height: 650px;
    }
    .ow-card-button {
        height: 90px;
    }
}

@media screen and (min-width: 2500px){
    .portfolio {
        height: 1600px;
    }
    .ourwork-card {
        height: 750px;
    }
    .ow-card-button {
        height: 100px;
    }
}