.hero {
    height: 800px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.hero > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.hero-info {
    /* background: orange; */
    height: 800px;
    width: 65%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-info-words {
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-info-buttons{
    height: 15%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.hero-info-buttons > button {
    width: 30%;
    height: 80%;
    border-radius: 500px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 25px;
    border: none;
}

.hero-quote-button {
    background: #192D5A;
    color: white
}

.hero-info-buttons > button:focus {
    outline: none;
}


.hero-info > div > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(75px + (90 - 75) * ((100vw - 1450px) / (1800 - 1450)));
    font-weight: bold;
    cursor: default;
    color: white;
    line-height: 1
}
.hero-info > div > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(40px + (45 - 40) * ((100vw - 1450px) / (1800 - 1450)));
    line-height: 1.1;
    text-align: start;
    margin: 5px 0;
    cursor: default;
    font-weight: 500;
    color: white;
    width: 90%
}


@media screen and (min-width: 901px){
    .mobilehero {
        display: none;
    }
}


/* Mobile View */
@media screen and (max-width: 900px){
    .reghero {
        display: none;
    }

    .hero {
        flex-direction: column;
        height: 650px;
    }

    .hero-info {
        height: 500px;
        width: 100%;
    }
    .hero-info-words {
        width: 100%;
        height: 35%;
        align-items: center;
    }

    .hero-info-buttons {
        width: 100%;
        height: 30%;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-info-buttons > button {
        width: 50%;
        height: 45%;
        margin: 0;
        font-size: 20px
    }

    .hero-info > div > h1 {
        font-size: calc(35px + (45 - 35) * ((100vw - 300px) / (600 - 300)));
        text-align: center;
        width: 95%;
    }
    .hero-info > div > h2 {
        font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (600 - 300)));
        text-align: center;
        width: 95%;
        margin: 2.5px 0;
    }

    .hero > img {
        height: 130%;
        width: 130%;
        object-position: 100% 100%;
    }
}


@media screen and (max-width: 700px) and (min-width: 500px){
    .hero-info-words {
        width: 90%;
        height: 45%;
    }

    .hero-info > div > h1 {
        font-size: calc(50px + (60 - 50) * ((100vw - 500px) / (700 - 500)));
    }
    .hero-info > div > h2 {
        font-size: calc(26px + (32 - 26) * ((100vw - 500px) / (700 - 500)));
    }

    .hero-info-buttons > button {
        width: 40%;
    }
    .hero > img {
        height: 100%;
        width: 100%;
        object-position: 50% 10%;
    }
}


@media screen and (max-width: 900px) and (min-width: 700px) {
    .hero {
        height: 650px;
    }
    .hero-info-words {
        width: 80%;
        height: 40%;
    }

    .hero-info {
        height: 550px;
    }

    .hero-info > div > h1 {
        font-size: calc(55px + (60 - 55) * ((100vw - 700px) / (900 - 700)));
    }
    .hero-info > div > h2 {
        font-size: calc(28px + (32 - 28) * ((100vw - 700px) / (900 - 700)));
        width: 80%;
    }

    .hero-info-buttons {
        height: 15%;
        width: 70%;
        flex-direction: row;
        justify-content: center;
    }

    .hero-info-buttons > button {
        font-size: 25px;
        height: 90%;
        width: 40%;
        margin: 0 20px;
    }

    .hero > img {
        height: 100%;
        width: 100%;
        object-position: 50% 30%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .hero {
        height: 650px;
    }
    .hero-info {
        height: 650px;
    }
    .hero-info-words {
        height: 30%;
    }
    .hero-info-buttons  {
        height: 15%;
    }
    .hero-info-buttons > button {
        height: 80%;
        font-size: 20px;
        margin-right: 30px;
        width :35%
    }
    .hero-info > div > h1 {
        font-size: calc(54px + (60 - 54) * ((100vw - 900px) / (1100 - 900)));
    }
    .hero-info > div > h2 {
        font-size: calc(26px + (30 - 26) * ((100vw - 900px) / (1100 - 900)));
        width: 90%;
    }
}


@media screen and (max-width: 1450px) and (min-width: 1101px){
    .hero-info-words {
        height: 30%;
    }
    .hero-info > div > h1 {
        font-size: calc(62px + (67 - 62) * ((100vw - 1100px) / (1450 - 1100)));
    }
    .hero-info > div > h2 {
        font-size: calc(30px + (40 - 30) * ((100vw - 1100px) / (1450 - 1100)));
        width: 90%;
    }
    .hero-info-buttons {
        height: 13%;
    }
    .hero-info-buttons > button {
        height: 80%;
        font-size: 25px;
    }
}


@media screen and (min-width: 1700px){
    .hero, .hero-info {
        height: 900px;
    }
    .hero-info > div > h1 {
        font-size: calc(90px + (140 - 90) * ((100vw - 1700px) / (3000 - 1700)));
    }
    .hero-info > div > h2 {
        font-size: calc(50px + (80 - 50) * ((100vw - 1700px) / (3000 - 1700)));
        width: 90%;
    }
    .hero-info-words {
        height: 40%;
    }
    
}

@media screen and (min-width: 2000px){
    .hero, .hero-info {
        height: 1100px
    }
    .hero-info-words {
        height: 35%;
    }
    .hero-info-buttons {
        height: 18%;
    }
    .hero-info-buttons > button {
        font-size: 35px;
        height: 70%;
    }
}

@media screen and (min-width: 2400px){
    .hero, .hero-info {
        height: 1200px
    }

    .hero-info-buttons > button {
        font-size: 40px;
    }
}
