.addressInfo {
    height: 800px;
    width: 55%;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addressInfo-title {
    /* background: red; */
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addressInfo-title > h1 {
    font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1900 - 300)));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
}
.addressInfo-title > p {
    font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1900 - 300)));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.addressInfo-body {
    height: 80%;
    width: 100%;
    background:#f8f8f8;
    border-radius: 10px;
    border: solid 5px #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.addressForm {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addressInfo-form {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addressInfoForm-div {
    width: 70%;
    height: 90%;
    border: solid 5px #454545;
    border-radius: 5px;
    background: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.addressInfoForm-div-section {
    height: 25%;
    width: 70%;
    /* background: green; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}

.addressInfoForm-div-section2 {
    /* background: green; */
    height: 25%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addressInfo-state, .addressInfo-zipcode {
    width: 45%;
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.addressInfoForm-div-section >h1, .addressInfo-state > h1, .addressInfo-zipcode > h1 {
    font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    /* height: 40%; */
    color: #454545;
    border-radius: 5px;
    /* background: red; */
}

.addressInfoForm-div-section-box {
    background: blue;
    height: 70px;
    width: 100%;
    display: flex;
}

.addressInfoForm-div-section-box > select {
    height: 100%;
    border-radius: 0px;
    width: 70%;
    border: solid 5px #454545;
}

.box-icon, .box-icon-error {
    background: #454545;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
    margin: 0;
    /* font-size: 30px; */
}

.box-icon-error {
    background: #ff3333;
}


.addressInfo-buttons {
    background: blue;
    width: 100%;
    height: 15%;
    display: flex;
}

.form-backButton {
    height: 100%;
    width: 25%;
    border: none;
    background: #454545;
    color: white;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1900 - 300)));
    font-weight: bold;
    cursor: pointer;
}

.error-input, .error-input2 {
    border: #ff3333 solid 5px;
    width: 85%;
    padding-left: 20px;
    font-weight: bold;
    color: #454545;
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1900 - 300)));
}

.input, .input2 {
    border: solid #454545 5px;
    width: 85%;
    padding-left: 20px;
    font-weight: bold;
    color: #454545;
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1900 - 300)));
}
.input2, .error-input2 {
    width: 55%;
}


.stepform-next-button, .stepform-next-button-disabled {
    width: 75%;
    height: 100%;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1900 - 300)));
    background: #62A3BE;
    cursor: pointer;;
}
.stepform-next-button-disabled {
    background: rgb(201, 201, 201);
    cursor: default;
}



/* Mobile View */
@media screen and (max-width: 600px){
    .addressInfo {
        width: 90%;
        height: 1000px;
    }

    .addressInfo-title {
        text-align: center;
        height: 15%;
    }
    .addressInfo-form {
        height: 90%;
    }
    .addressInfoForm-div {
        width: 90%;
    }
    .addressInfoForm-div-section, .addressInfoForm-div-section2 {
        width: 90%;
        height: 20%;
        /* justify-content: center; */
    }
    .addressInfoForm-div-section {
        justify-content: center;
    }
    .addressInfoForm-div-section2{
        flex-direction: column;
        height: 40%;
    }
    .addressInfo-state, .addressInfo-zipcode {
        width: 100%;
        justify-content: center;
    }
    .addressInfo-buttons {
        height: 10%;
    }

    .addressForm {
        height: 90%;
    }
}
