.workmodal {
    height: 750px;
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.modal-exit {
    position: absolute;
    height: 70px;
    width: 100%;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.modal-exit-space {
    width: 85%;
    height: 100%;
}
.modal-exit-real {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-exit-real > svg {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.workmodal-images {
    height: 55%;
    width: 100%;
    display: flex;
    position: relative;
}


.carousel-inner {
    height: 100%;
}
.carousel {
    width: 100% !important;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.workmodal-info {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
}

.workmodal-info-tabs {
    width: 100%;
    height: 20%;
    display: flex;
}
.workmodal-info-tabs > button, .tab-active {
    width: 50%;
    height: 100%;
    background: white;
    border: solid 7px #E16D41;
    font-size: 30px;
    font-weight: bold;
    color: #E16D41;
    font-family:Arial, Helvetica, sans-serif;
}
.tab-active {
    background: #E16D41 !important;
    color: white !important;
}
.workmodal-info-tabs > button:focus, .tab-active:focus {
    outline: none;
}
.workmodal-info-words {
    background: white;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workmodal-info-words-description {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.workmodal-info-words-description > h1 {
    font-weight: bold;
    cursor: default;
    color: #192D5A;
    line-height: 1;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(35px + (40 - 35) * ((100vw - 1450px) / (1800 - 1450)));
}

.workmodal-info-words-description > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(20px + (25 - 20) * ((100vw - 1450px) / (1800 - 1450)));
    line-height: 1.1;
    text-align: start;
    cursor: default;
    color: #707070;
    width: 95%;
}

.workmodal-info-words-other {
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.workmodal-info-words-other > div {
    width: 90%;
    height: 50%;
}

.modal-other-1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.workmodal-info-words-other > div > h1 {
    font-weight: bold;
    cursor: default;
    color: #192D5A;
    line-height: 1;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(35px + (40 - 35) * ((100vw - 1450px) / (1800 - 1450)));
}

.workmodal-info-words-other > div > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(20px + (25 - 20) * ((100vw - 1450px) / (1800 - 1450)));
    line-height: 1.1;
    text-align: start;
    cursor: default;
    color: #707070;
    text-transform: capitalize;
}


.modal-other-2 > div {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.color-square {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    border: solid black 1px;
}



@media screen and (max-width: 900px){
    .workmodal {
        width: 95%;
        height: 650px;
    }

    .workmodal-images {
        height: 40%;
    }

    .workmodal-info{
        height : 60%;
    }

    .workmodal-info-tabs {
        height: 15%;
    }
    .workmodal-info-tabs > button {
        font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (600 - 300)));
        border: solid 5px #E16D41;

    }

    .workmodal-info-words {
        height: 85%;
        flex-direction: column;
        justify-content: center;
    }
    .workmodal-info-words-description {
        height: 40%;
        width: 90%;
        justify-content: center;

    }
    .workmodal-info-words-description > h1, .workmodal-info-words-other > div > h1 {
        text-align: center;
        font-size: calc(24px + (28 - 24) * ((100vw - 300px) / (600 - 300)));
    }

    .workmodal-info-words-description > p, .workmodal-info-words-other > div > p {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (600 - 300)));
    }

    .workmodal-info-words-other {
        height: 45%;
        width: 90%;
    }
    .workmodal-info-words-other > div {
        width: 100%;
        justify-content: center;
    }
    .color-square {
        height: 25px;
        width: 25px;
        margin: 0 10px;
    }
    .modal-other-2 > div {
        height: 30px;
        justify-content: center;
    }
    .carousel-img {
        width: 130%;
        object-position: center center;
    }
    .modal-exit-space {
        width: 75%;
    }
}


@media screen and (max-width: 700px) and (min-width: 500px) {
    .workmodal {
        width: 80%;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .workmodal {
        width: 70%;
    }
    .workmodal-images {
        height: 45%;
    }

    .workmodal-info{
        height : 55%;
    }
    .workmodal-info-words-description > h1, .workmodal-info-words-other > div > h1 {
        text-align: left;
        font-size: calc(24px + (25 - 24) * ((100vw - 700px) / (900 - 700)));
    }
    .workmodal-info-words-description > p, .workmodal-info-words-other > div > p {
        text-align: left;
        font-size: calc(18px + (20 - 18) * ((100vw - 700px) / (900 - 700)));
    }
    .workmodal-info-tabs {
        height: 17%;
    }
    .workmodal-info-words {
        height: 83%;
    }
    .workmodal-info-tabs > button {
        font-size: calc(20px + (24 - 20) * ((100vw - 700px) / (900 - 700)));
    }

    .workmodal-info-words-description, .workmodal-info-words-other {
        width: 80%;
    }
    .modal-other-2 > div {
        justify-content: flex-start;
    }
    .color-square {
        margin: 0;
        margin-right: 20px;
    }
    .workmodal-info-words-description, .workmodal-info-words-other > div {
        justify-content: flex-start;
    }
}


@media screen and (max-width: 1100px) and (min-width: 901px){
    .workmodal {
        width: 65%;
        height: 650px;
    }
    .workmodal-info-words-description > p, .workmodal-info-words-other > div > p {
        font-size: calc(18px + (20 - 18) * ((100vw - 900px) / (1100 - 901)));
    }
    .workmodal-info-tabs > button {
        font-size: 24px;
    }
}


@media screen and (max-width: 1450px) and (min-width: 1101px) {
    .workmodal {
        width: 55%;
        height: 650px;
    }
    .workmodal-info-words-description > p, .workmodal-info-words-other > div > p {
        font-size: calc(18px + (20 - 18) * ((100vw - 1100px) / (1450 - 1101)));
    }
    .workmodal-info-tabs > button {
        font-size: calc(24px + (28 - 24) * ((100vw - 1100px) / (1450 - 1101)));
        
    }
}

@media screen and (min-width: 1700px){
    .workmodal {
        height: 850px;
    }
}

@media screen and (min-width: 2000px){
    .workmodal {
        width: 45%;
        height: 950px;
    }

    .modal-exit {
        height: 100px;
    }
    .workmodal-info-tabs > button {
        font-size: 40px;
    }
}

@media screen and (min-width: 2400px) {
    .workmodal {
        height: 1100px;
    }
    .color-square {
        height: 40px;
        width: 40px;
    }
    .modal-other-2 > div {
        height: 50px;
    }
}