.services {
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-info {
  height: 70%;
  width: 42.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-info-words {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-info-words > h1 {
  font-family: Arial, Helvetica, sans-serif;
    font-size: calc(70px + (75 - 70) * ((100vw - 1450px) / (1800 - 1450)));
    font-weight: bold;
    cursor: default;
    color: #192D5A;
    line-height: 1;
    margin: 5px 0;
}

.services-info-words > h2 {
  font-family: Arial, Helvetica, sans-serif;
    font-size: calc(38px + (45 - 38) * ((100vw - 1450px) / (1800 - 1450)));
    line-height: 1.1;
    text-align: start;
    cursor: default;
    color: #707070;
    width: 90%;
}

.services-info-buttons {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
}

.services-info-buttons > button, .service-button-active {
  height: 80%;
  width: 25%;
  border-radius: 100px;
  margin-right: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  background: white;
  color: #E16D41;
  border: solid 5px #E16D41;
}

.service-button-active {
  background: #E16D41 !important;
  color: white !important;
}

.services-info-buttons > button:focus {
  outline: none;
}

.services-card {
  height: 70%;
  width: 42.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-card > div {
  width: 70%;
  height: 90%;
  border-radius: 30px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, .30);
}


@media screen and (max-width: 900px){
  .services {
    flex-direction: column;
  }
  .services-info {
    height: 25%;
    width: 95%;
  }

  .services-info-words {
    height: 55%;
  }
  
  .services-info-words > h1 {
    font-size: calc(35px + (45 - 35) * ((100vw - 300px) / (600 - 300)));
    text-align: center;
  }
  .services-info-words > h2 {
    font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (600 - 300)));
    text-align: center;
  }

  .services-info-buttons {
    height: 25%;
    display: flex;
    justify-content: space-between;
  }
  .services-info-buttons > button {
    margin: 0;
    height: 100%;
    width: 30%;
    font-size: 16px;
  }

  .services-card {
    height: 50%;
    width: 90%;
  }
}

@media screen and (min-width: 460px) and (max-width: 700px) {
  .services-info {
    width: 80%;
  }
  .services-info-words {
    margin-bottom: 5px;
    height: 60%;
  }
  .services-info-buttons {
    height: 28%;
  }
}

@media screen and (max-width: 900px) and (min-width: 701px){
  .services {
    height: 850px
  }
  .services-info {
    width: 60%;
  }
  .services-info-words {
    margin-bottom: 5px;
  }
  .services-info-words > h1 {
    font-size: calc(45px + (50 - 45) * ((100vw - 700px) / (900 - 700)));
  }

  .services-info-words > h2 {
    font-size: calc(24px + (30 - 24) * ((100vw - 700px) / (900 - 700)));
  }

  .services-card {
    width: 60%;
  }
}


@media screen and (max-width: 1100px) and (min-width: 901px){
  .services {
    height: 700px;
  }

  .services-info, .services-card {
    width: 45%;
  }
  .services-info {
    height: 55%;
  }
  .services-info-words > h1 {
    font-size: calc(45px + (50 - 45) * ((100vw - 900px) / (1100 - 901)));
  }

  .services-info-words > h2 {
    font-size: calc(24px + (30 - 24) * ((100vw - 900px) / (1100 - 901)));
    width: 90%;
  }

  .services-info-buttons > button {
    height: 90%;
    width: 30%;
    margin-right: 30px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1450px){
  .services {
    height: 750px;
  }
  .services-info, .services-card {
    width: 45%;
  }

  .services-info {
    height: 60%;
  }

  .services-info-words > h1 {
    font-size: calc(55px + (60 - 55) * ((100vw - 1100px) / (1450 - 1101)));
  }

  .services-info-words > h2 {
    font-size: calc(30px + (35 - 30) * ((100vw - 1100px) / (1450 - 1101)));
    width: 85%;
  }

  .services-info-buttons > button {
    margin-right: 30px;
  }
}


@media screen and (min-width: 1700px) {
  .services {
    height: 900px;
  }
  .services-info-words > h2 {
    width: 90%;
  }
  .services-info-buttons > button {
    font-size: 30px;
  }
}


@media screen and (min-width: 2200px){
  .services {
    height: 1000px;
  }
}


@media screen and (min-width: 2500px){
  .services-info-words {
    height: 40%;
  }
  .services-info-buttons {
    height: 20%;
  }
  .services-info-buttons > button {
    font-size: 35px;
    border: solid 7px ;
  }
}