.nav {
    height: 80px;
    width: 100%;
    background: #192D5A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-logo {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;

}
.navbar-logo > img {
    height: 80%;
}

.navbar-menu {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-menu > a {
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none !important;
}



@media screen and (min-width: 901px) {
    .togglebutton {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .navbar-menu {
        display: none;
    }
    .togglebutton {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar-logo {
        width: 25%;
        height: 100%;
    }
}

@media screen and (max-width: 1100px) and (min-width: 901px) {
    .navbar-logo {
        width: 15%;
    }
    .navbar-menu {
        width: 70%;
    }
    .navbar-menu > a {
        font-size: calc(18px + (20 - 18) * ((100vw - 900px) / (1100 - 901)));
    }
}

@media screen and (min-width: 1700px){
    .nav {
        height: 90px;
    }

    .navbar-menu > a {
        font-size: calc(22px + (30 - 22) * ((100vw - 1700px) / (3000 - 1700)));
    }
}

@media screen and (min-width: 2200px){
    .nav {
        height: 100px;
    }
}